body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.note_container {
    margin-top: 10px;
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.note_rect_container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ECE63D;
    border-radius: 10px;
    padding: 1.5em;
}

.note_rect_p {
    text-align: center;
    color: black;
    font-family: sans-serif;
    font-weight: 500;
}

.create_note_container {
    margin-top: 50px;
}

#index_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#button_wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.index_hyperlink {
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
    padding: 0.5em;
    color: black;
    text-decoration: none;
    transition: background-color 0.1s ease-in;
}

.index_hyperlink:hover {
    background-color: gray;
}